@font-face{
  font-family:"sunday";
  src: url('../font/Sunday-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-size: 28px;
  overflow-x: hidden;
}

.header{
  background-image: url("../photo/bg-color.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}

.bandname{
  position: fixed;
  width: 300px;
  left:50%;
  margin-left: -150px;
  color:white;
  top:10px;
  font-family: "sunday";
}

.filter{
  background-color: rgba(0, 0, 0, 0.3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.logo{
  background-image: url("../photo/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height:600px;
  position: absolute;
  left:50%;
  margin-left: -300px;
  bottom: 50%;
  margin-bottom: -300px;
  color:white;
}

.arrow{
  color:white;
  bottom: 0px;
  position: absolute;
  left:50%;
  margin-left: -40px;
  bottom: 1%;
  transition: all 0.3s ease-in-out 0s;
  }

  .move{
    transform: translateY(-50px);
  }

  .arrow:before{
  font-size: 80px;
  }

  .arrow:hover{
  transform: translateY(10px);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  box-shadow: 0px 4px 15px 3px rgba(0,0,0,0.5);
}

#navbar {
  position: fixed;
  top: 0;
  overflow: hidden;
  padding-bottom: 0px;
  width: 100%;
  z-index: 1;
}

#navbar .facebook{
  position:absolute;
  right:0px;
  padding: 15px 16px;
  color:white;
}

#navbar .facebook:hover{
  color:blue;
}

#navbar h2 {
  float: left;
  display: block;
  padding: 23px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

h2 > a {
  position: relative;
  color:white;
  text-decoration: none;
}

h2 > a:hover {
  color: white;
  text-decoration: none;
}

h2 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.groupe-h1{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  opacity:0;
  transform:translateX(-20px);
  transition: all 0.3s ease-in-out;
  font-family: "sunday";
}

.groupe-container{
}

.group-row{
  height:500px;
  opacity:0;
  transform:translateX(-20px);
  transition: all 0.3s ease-in-out;
}

.photo-group{
  background-image: url("../photo/stage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.text-group{
  vertical-align: center;
}

.text-group p{
  text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text{
  margin-top: 100px;

}

.large-window{
  margin: 100px auto;
  height:350px;
  width: 350px;
  background-image: url("../photo/puzzle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img-container{
  margin: 50px auto 100px auto;
}

.img-row{

}

.portrait img{
  width:210px;
  height: auto;
}

.portrait{
  opacity:0;
  transform:translateX(-20px);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.portrait img{
  display:block;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  filter: blur(0);
  -webkit-filter: blur(0);
}

.portrait:hover .caption{
  left:0%;
}

.portrait:hover img{
  transform: scale(1.2);
  filter: blur(0);
  -webkit-filter: blur(0);
}

.caption{
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: -110%;
  background: black;
  color:white;
  padding: 2px 8px;
  transition: all 0.3s ease-in-out;
}

.caption strong{
  font-family: "sunday";
}

#myGrid{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.w3-third img{
  margin-bottom: 12px;
}

.tour-h1{
  font-family: "sunday";
  text-align: center;
  padding-top: 100px;
  opacity:0;
  transform:translateX(-20px);
  transition: all 0.3s ease-in-out;
}

.photo-h1{
  font-family: "sunday";
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  opacity:0;
  transform:translateX(-20px);
  transition: all 0.3s ease-in-out;
}

.w3-third{
  opacity:0;
  transform:translateX(-20px);
  transition: all 0.3s ease-in-out;
}

.tour-container{
  margin-top: 100px;
  margin-bottom: 100px;
  //overflow: hidden;

}

.tour-row{
  /*width:90%;
  margin:auto;*/
}

.tour-date{
  border:1px solid #b1b1b1;
  margin: 0px 10px;
  padding: 20px 16px;
  background: white;
}

.date-1{
  transform: translate(100px, 20px);
}

.date-2{
  //z-index: 2;
}

.date-3{
  transform: translate(-100px, 20px);
}

.tour-date h2{
  font-family: "sunday";
  text-align: center;
}

.contact-h1{
  font-family: "sunday";
  text-align: center;
  padding-top: 100px;
  opacity:0;
  transform:translateX(-20px);
  transition: all 0.3s ease-in-out;
}

.contact-container{
  height: 100vh;
  margin-top: -156px;
  //padding-top: 248px;
  position: relative;
}

.contact-row{
  height:200px;
  width: 700px;
  left:50%;
  margin-left: -350px;
  margin-top: -100px;
  opacity:0;
  transform:translateX(-20px);
  transition: all 0.3s ease-in-out;
  text-align: center;
  top:50%;
  position:absolute;
}

.hr{
  height: 0px;
  background: none;
  border: none;
  border-top: 2px solid #b1b1b1;
  width: 40%;
  margin: auto;
}


.is-showing{
  opacity:1;
  transform:translateX(0px);
}
